/* You can add global styles to this file, and also import other style files */

.navbar-nav {
  height: 35px;
}

.form-row .btn {
  margin-right: 25px;
}

.featured {
  background-color: lightslategrey;
}
