<h1>Movies</h1>
<p>Met uitleg hier</p>
<table class="table table-hover table-stiped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Released</th>
      <th scope="col">Studio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies$ | async">
      <th scope="row">{{ movie.id }}</th>
      <td>
        <a routerLink="{{ movie.id }}">{{ movie.name }}</a>
      </td>
      <td>{{ movie.releaseyear }}</td>
      <td>{{ movie.studio }}</td>
    </tr>
  </tbody>
</table>
