<div *ngIf="!movie">
  <samui-spinner></samui-spinner>
</div>

<div *ngIf="movie">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/movies">Movies</a></li>
      <li *ngIf="movie.id" class="breadcrumb-item active" aria-current="page">
        {{ movie.name }}
      </li>
      <li *ngIf="!movie.id" class="breadcrumb-item active" aria-current="page">
        New
      </li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-auto">
      <h1>{{ title }}</h1>
    </div>
    <div *ngIf="debug" class="col-auto py-2">
      <h3>({{ movie.name }})</h3>
    </div>
  </div>

  <form
    #movieEditForm="ngForm"
    name="form"
    (ngSubmit)="movieEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="row">
      <div class="col">
        <div class="form-row">
          <!-- Movie name -->
          <div class="form-group col-sm-12 col-md-5 col-lg-6">
            <label for="moviename">Movie name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="movie.name"
              (ngModelChange)="checkForExistingMovieName($event)"
              name="moviename"
              #moviename="ngModel"
              [ngClass]="{
                'is-invalid':
                  (moviename.invalid && moviename.touched) ||
                  (existingMovieNames$ | async)
              }"
              required
              minlength="3"
            />
            <div
              *ngIf="moviename.invalid && moviename.touched"
              class="invalid-feedback"
            >
              <div *ngIf="moviename.errors?.required">
                Movie name is vereist.
              </div>
              <div *ngIf="moviename.errors?.minlength">
                Movie name moet ten minste 3 letters lang zijn.
              </div>
            </div>

            <div *ngIf="existingMovieNames$ | async" class="invalid-feedback">
              Deze movie name bestaat al in de database.
            </div>
          </div>

          <!-- Movie studio -->
          <div class="form-group col-sm-12 col-md-4 col-lg-4">
            <label class="mr-sm-2" for="movie_studio">Studio</label>
            <select
              class="custom-select mr-sm-2"
              id="movie_studio"
              name="moviestudio"
              [(ngModel)]="movie.studio"
              #moviestudio="ngModel"
              required
            >
              <!--  -->
              <ng-container *ngIf="!studios || studios?.length === 0">
                <option selected>Loading...</option>
              </ng-container>
              <!--  -->
              <ng-container *ngFor="let studio of studios">
                <option [value]="studio.id">
                  {{ studio.name }}
                </option>
              </ng-container>
            </select>
          </div>

          <!-- Movie releaseyear -->
          <div class="form-group col-sm-12 col-md-3 col-lg-2">
            <label for="movieyear">Jaar</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="movie.releaseYear"
              name="movieyear"
              #movieyear="ngModel"
              [ngClass]="{
                'is-invalid': movieyear.invalid || movie.releaseYear < 1890
              }"
              required
              minlength="4"
            />
            <div *ngIf="movieyear.invalid" class="invalid-feedback">
              <div *ngIf="movieyear.errors?.required">Jaar is vereist.</div>
              <div *ngIf="movieyear.errors?.minlength">
                Jaar bestaat uit 4 cijfers.
              </div>
            </div>
          </div>

          <!-- Movie age category -->
          <div class="form-group col-md-6">
            <label for="age-category">Leeftijdscategorie</label>
            <div class="form-group col-lg-12">
              <!--  -->
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="age-category-all"
                  name="age-category"
                  class="custom-control-input"
                  [(ngModel)]="movie.ageCategory"
                  #ageCategory="ngModel"
                  value="all"
                />
                <label class="custom-control-label" for="age-category-all"
                  >Alle leeftijden</label
                >
              </div>
              <!--  -->
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="age-category-12"
                  name="ageCategory"
                  class="custom-control-input"
                  [(ngModel)]="movie.ageCategory"
                  #ageCategory="ngModel"
                  value="children"
                />
                <label class="custom-control-label" for="age-category-12"
                  >12 jaar en ouder</label
                >
              </div>
              <!--  -->
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="age-category-16"
                  name="age-category"
                  class="custom-control-input"
                  [(ngModel)]="movie.ageCategory"
                  #ageCategory="ngModel"
                  value="adults"
                />
                <label class="custom-control-label" for="age-category-16"
                  >16 jaar en ouder
                </label>
              </div>
            </div>
          </div>

          <!-- Movie inTheatres -->
          <div class="form-group col-md-6">
            <label for="movieInTheatres">Beschikbaarheid</label>
            <div class="form-group col-lg-12">
              <!--  -->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input
                  type="checkbox"
                  id="in-theatres"
                  name="movieInTheatres"
                  class="custom-control-input"
                  [(ngModel)]="movie.inTheatres"
                  #movieInTheatres="ngModel"
                  value="false"
                />
                <label class="custom-control-label" for="in-theatres"
                  >Nu in de bioscoop
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-auto">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!movieEditForm.valid"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-outline-warning"
              routerLink=".."
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="debug = !debug"
              [attr.aria-expanded]="debug"
              aria-controls="collapseExample"
            >
              Toggle Debug
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header featured">Let op!</div>
          <div class="card-body">
            <p class="card-text">
              In dit scherm kan de gebruiker een nieuwe Movie aanmaken of een
              bestaande movie bewerken. Let op dat een Movie via een Mongo
              ObjectId een koppeling heeft naar het Studio model. Dat betekent
              dat je hier NIET in een text imput een nieuwe studio intypt, maar
              dat de gebruiker een bestaande studio selecteert. In dit geval
              gaat dat via een dropdown.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br />
        <div #collapse="ngbCollapse" [(ngbCollapse)]="!debug">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Debug info</h5>
              <p class="card-text">
                Hier zie je links de status van het movie.name veld, en rechts
                de content van de movie in het formulier. Zodra je wijzigingen
                in het formulier doorvoert, zie je in deze informatie de
                wijzigingen. Zo kun je de code aan de informatie linken.
              </p>
              <div class="row">
                <div class="col-auto">
                  <div class="card">
                    <div class="card-body">
                      <p>name.invalid = {{ moviename.invalid }}</p>
                      <p>name.touched = {{ moviename.touched }}</p>
                      <p>name.dirty = {{ moviename.dirty }}</p>
                      <p>name.pristine = {{ moviename.pristine }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="card">
                    <div class="card-body">
                      <pre>{{ movie | json }}</pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
