<div class="container">
  <section class="jumbotron text-center">
    <h1>{{ appTitle }}</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don’t
      simply skip over it entirely.
    </p>
  </section>
  <div class="row">
    <div class="col">
      <h3>Info</h3>
      <p>
        This app is running in <strong>'{{ runningMode }}'</strong> mode. <br />
        Backend API URL:
        <a
          href="https://nestjs-mongoose-cswf.herokuapp.com/docs"
          target="_blank"
        >
          <strong>'{{ apiUrl }}'</strong></a
        ><br />
        Version: <strong>{{ version }}</strong>
      </p>
    </div>
  </div>
</div>
